{% extends 'instagram/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom text-center text-uppercase text-white mb-4">Create Post</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
    <div class="footer mt-3">
        <div class="col-md-12">
            <div class=" text-center">
                <ul class="footer-page">
                    <li class="footer"><a class="about" href="https://about.instagram.com/">About</a></li>
                    <li class="footer"><a class="help" href="https://help.instagram.com/">Help</a></li>
                    <li class="footer"><a class="blog" href="https://about.instagram.com/blog/">Press</a></li>
                    <li class="footer"><a class="developer" href="/developer/">API</a></li>
                    <li class="footer"><a class="jobs" href="/about/jobs/">Jobs</a></li>
                    <li class="footer"><a class="privacy" href="/legal/privacy/">Privacy</a></li>
                    <li class="footer"><a class="terms" href="/legal/terms/">Terms</a></li>
                    <li class="footer"><a class="locations" href="/explore/locations/">Locations</a></li>
                    <li class="footer"><a class="profiles" href="/directory/profiles/">Top Accounts</a></li>
                    <li class="footer"><a class="hashtags" href="/directory/hashtags/">Hashtags</a></li>
                    <li class="footer"><a class="language" href="https://techcrunch.com/tag/language-support/">Language</a>
                    </li>
                </ul>
            </div>
            <h6 class="copyright font-weight-bold">© 2021</h6>
        </div>
    </div>
{% endblock content %}

