{% extends "instagram/base.html" %}
{% block content %}
<div class="container">
    <h3 class="white-important" style="font-family: 'Grand Hotel', cursive; color:white;font-size:25px;">You've been logged out</h3>
    <div class="pt-3">
        <small class="text" >
            <h3 style="font-family: 'Grand Hotel', cursive; color:blue;font-size:25px;">Login again?</h3>
            <div class="card mt-1" style="width: 28rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Have an account already?</h5>
                    <h2 style="color:grey;font-size:13px;">By signing up, you agree to our Terms, Data Policy and
                        Cookies Policy.</h2>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </div>
            </div>
        </small>
    </div>
</div>
<div class="footer mt-3">
    <div class="col-md-12">
        <div class=" text-center">
            <ul class="footer-page">
                <li class="footer"><a class="about" href="https://about.instagram.com/">About</a></li>
                <li class="footer"><a class="help" href="https://help.instagram.com/">Help</a></li>
                <li class="footer"><a class="blog" href="https://about.instagram.com/blog/">Press</a></li>
                <li class="footer"><a class="developer" href="/developer/">API</a></li>
                <li class="footer"><a class="jobs" href="/about/jobs/">Jobs</a></li>
                <li class="footer"><a class="privacy" href="/legal/privacy/">Privacy</a></li>
                <li class="footer"><a class="terms" href="/legal/terms/">Terms</a></li>
                <li class="footer"><a class="locations" href="/explore/locations/">Locations</a></li>
                <li class="footer"><a class="profiles" href="/directory/profiles/">Top Accounts</a></li>
                <li class="footer"><a class="hashtags" href="/directory/hashtags/">Hashtags</a></li>
                <li class="footer"><a class="language" href="https://techcrunch.com/tag/language-support/">Language</a>
                </li>
            </ul>
        </div>
        <h6 class="copyright font-weight-bold">© 2021</h6>
    </div>
</div>
{% endblock content %}
