{% extends 'instagram/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="continer">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-image">
                        <img class="rounded-circle account-img" width="200" height="200"
                            src="{{ user.profile.image.url }}">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-user-settings d-flex">
                        <h1 class="profile-user-name text-uppercase pt-2 font-weight-bold" style="font-family: 'Grand Hotel', cursive;color: white;font-size:25px;">{{ user.username }}</h1>&nbsp;&nbsp;
                        <button class="btn profile-edit-btn" data-toggle="modal" data-target="#profile">Edit
                            Profile</button>
                        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fa fa-cog"
                                aria-hidden="true"></i></button>
                    </div>
                    <div class="profile-stats pt-3">
                        <div class="d-flex">
                            <p class="text-uppercase font-weight-bold"><span class="profile-stat-count text-white">25</span> posts</p>
                            <p class="text-uppercase font-weight-bold"><span class="profile-stat-count ml-3 text-white">2534</span> followers</p>
                            <p class="text-uppercase font-weight-bold"><span class="profile-stat-count ml-3 text-white">123</span> following</p>
                        </div>
                    </div>
                    <div class="profile-bio">
                        <p><span class="profile-real-name text-white text-uppercase font-weight-bold">{{ user.username }} bio&nbsp;:&nbsp;</span>
                            {% if user.profile.bio %}
                            {{ user.profile.bio }}
                            {%else%}
                            {{ user.username}} has no bio
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="ig-photo-icons text-center">
                        <i class="fa fa-th-large">&nbsp;&nbsp;POSTS</i>
                        <i class="fa fa-tv ml-5">&nbsp;&nbsp;IGTV</i>
                        <i class="fa fa-bookmark ml-5">&nbsp;&nbsp;SAVED</i>
                        <i class="fa fa-user ml-5">&nbsp;&nbsp; TAGGED</i>
                    </div>
                    <br>
                    <main>
                        <div class="container">
                            <div class="gallery text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="fa fa-bookmark ml-5 text-white">&nbsp;&nbsp;SAVED IMAGES</i>
                                        {% for image in images %}
                                        <div class="gallery-item" tabindex="0">
                                            <img src="{{image.image.url}}" class="gallery-image"
                                                alt="{{image.caption}}">
                                            <div class="gallery-item-info">
                                                <ul>
                                                    <li class="gallery-item-likes"><i class="fa fa-heart"
                                                            aria-hidden="true"></i> 56</li>
                                                    <li class="gallery-item-comments"></span><i class="fa fa-comment"
                                                            aria-hidden="true"></i> 2</li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        <i class="fa fa-th-large text-white">&nbsp;&nbsp;MY POSTS</i>
                                        {% for post in posts %}
                                        <div class="gallery-item" tabindex="0">
                                            <div class="card float-left mt-3 card-custom">
                                                <div class="card-body d-flex justify-content-center">
                                                    <a href="{% url 'post-detail' post.pk%}">
                                                        <h3 class="card-title"><span
                                                                class="badge badge-info">{{ post.image_name }}</span>
                                                        </h3>
                                                        <img src="{{ post.image.url }}" class="card-img-top img-fluid"
                                                            alt="{{post.image}}"
                                                            style="max-height: 598.02px; max-width: 598.02px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- End of gallery -->
                        </div>
                        <!-- End of container -->
                    </main>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- End of container -->
<!-- Modal -->
<div class="modal fade" id="profile" tabindex="-1" aria-labelledby="profile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content-section pt-4">
                    <div class="media">
                        <img class="rounded-circle account-img" width="100" height="100"
                            src="{{ user.profile.image.url }}">
                        <div class="media-body">
                            <h2 class="account-heading">{{ user.username }}</h2>
                            <p class="text-secondary">{{ user.email }}</p>
                        </div>
                    </div>
                    <!-- form here -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            {{ u_form | crispy }}
                            {{ p_form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="footer mt-3">
    <div class="col-md-12">
        <div class=" text-center">
            <ul class="footer-page">
                <li class="footer"><a class="about" href="https://about.instagram.com/">About</a></li>
                <li class="footer"><a class="help" href="https://help.instagram.com/">Help</a></li>
                <li class="footer"><a class="blog" href="https://about.instagram.com/blog/">Press</a></li>
                <li class="footer"><a class="developer" href="/developer/">API</a></li>
                <li class="footer"><a class="jobs" href="/about/jobs/">Jobs</a></li>
                <li class="footer"><a class="privacy" href="/legal/privacy/">Privacy</a></li>
                <li class="footer"><a class="terms" href="/legal/terms/">Terms</a></li>
                <li class="footer"><a class="locations" href="/explore/locations/">Locations</a></li>
                <li class="footer"><a class="profiles" href="/directory/profiles/">Top Accounts</a></li>
                <li class="footer"><a class="hashtags" href="/directory/hashtags/">Hashtags</a></li>
                <li class="footer"><a class="language" href="https://techcrunch.com/tag/language-support/">Language</a>
                </li>
            </ul>
        </div>
        <h6 class="copyright font-weight-bold">© 2021</h6>
    </div>
</div>
{% endblock content %}