{% extends "instagram/base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <img src="https://clipart.info/images/ccovers/1505918650Platinum-Iphone-X-Transparent-Background.png"
                alt="image" class="img-fluid" style="height:426px;width:550px;">

            <div class="card mt-5" style="width: 28rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Have an account already?</h5>
                    <h2 style="color:grey;font-size:13px;">By signing up, you agree to our Terms, Data Policy and
                        Cookies Policy.</h2>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </div>
            </div>

            <div class="card mt-5" style="width: 28rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Get the app.</h5>
                    <a href="https://itunes.apple.com/ke/app/instagram/id389801252?mt=8"><img
                            src="{% static 'photos/appstore.png' %}" style="height:70px;width:200px;"></a>
                    <a href="https://play.google.com/store?hl=en"><img src="{% static 'photos/playstore.png' %}"
                            style="height:70px;width:200px;"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="card border-primary mb-4" style="max-width:35rem;">
                <legend class="mb-3">
                    <div class="card-header text-center">
                        <h1 class="logo" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:65px;">Instagram</h1>
                        <h3 class="text-center" style="color:grey;font-size:15px;">Sign up to see photos and videos from your friends.</h3>
                    </div>
                </legend>
                <div class="card-body text-primary">
                    <form method="POST">
                        <fieldset class="form-group">
                            {% csrf_token %}
                            {{ form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer mt-3">
    <div class="col-md-12">
        <div class=" text-center">
            <ul class="footer-page">
                <li class="footer"><a class="about" href="https://about.instagram.com/">About</a></li>
                <li class="footer"><a class="help" href="https://help.instagram.com/">Help</a></li>
                <li class="footer"><a class="blog" href="https://about.instagram.com/blog/">Press</a></li>
                <li class="footer"><a class="developer" href="/developer/">API</a></li>
                <li class="footer"><a class="jobs" href="/about/jobs/">Jobs</a></li>
                <li class="footer"><a class="privacy" href="/legal/privacy/">Privacy</a></li>
                <li class="footer"><a class="terms" href="/legal/terms/">Terms</a></li>
                <li class="footer"><a class="locations" href="/explore/locations/">Locations</a></li>
                <li class="footer"><a class="profiles" href="/directory/profiles/">Top Accounts</a></li>
                <li class="footer"><a class="hashtags" href="/directory/hashtags/">Hashtags</a></li>
                <li class="footer"><a class="language" href="https://techcrunch.com/tag/language-support/">Language</a>
                </li>
            </ul>
        </div>
        <h6 class="copyright font-weight-bold">© 2021</h6>
    </div>
</div>
{% endblock content %}